@{
    ViewData["Title"] = "Calculate Square Root";
}

<div class="text-center">
    <h1 class="display-4">Calculate Highest Square Root Here</h1>
    <p class="text-secondary">Put in two numbers and get the highest square root value here</p>
</div>

<div class="text-center">
    <form asp-controller="Calc" asp-action="Sqrt" method="POST">
        <input type="text" name="firstNumber" placeholder="First Number" />
        <input type="text" name="secondNumber" placeholder="Second Number" />

        <button type="submit">Check Highest Number</button>
    </form>
</div>

@* Erro Message For Negative Numbers *@
@{
    if (ViewBag.ErrorMessageValue != null)
    {
        <div class="text-center text-danger mt-2">
            <h2>@ViewBag.ErrorMessageValue</h2>
        </div>
    }
}


@* Error Message For Incorrect Input *@
@{
    if (ViewBag.FormatError != null)
    {
        <div class="text-center text-danger mt-2">
            <h2>@ViewBag.FormatError</h2>
        </div>
    }
}

@* Error Message For Null Input *@
@{
    if (ViewBag.FormatErrorNullException != null)
    {
        <div class="text-center text-danger mt-2">
            <h2>@ViewBag.FormatErrorNullException</h2>
        </div>
    }
}


@* Message For Calculations Result *@
@{
    if (ViewBag.Result != null)
    {
        <div class="text-center text-success mt-2">
            @{
                if (ViewBag.firstSqrtValue > ViewBag.secondSqrtValue)
                {
                    <h2>The number @ViewBag.numberOneValue with Square root @ViewBag.firstSqrtValue has a higher square root than the number @ViewBag.numberTwoValue with square root @ViewBag.secondSqrtValue</h2>
                }
                else if (ViewBag.secondSqrtValue > ViewBag.firstSqrtValue)
                {
                    <h2>The number @ViewBag.numberTwoValue with Square root @ViewBag.secondSqrtValue has a higher square root than the number @ViewBag.numberOneValue with square root @ViewBag.firstSqrtValue</h2>
                }
                else if (ViewBag.secondSqrtValue == ViewBag.firstSqrtValue)
                {
                    <h2>The number @ViewBag.numberOneValue with Square root @ViewBag.firstSqrtValue has an equal square root with the number @ViewBag.numberTwoValue with square root @ViewBag.secondSqrtValue</h2>
                    <p>You may please enter another value</p>
                }
            }
            
        </div>    
    }
}